.table {
    border-collapse: collapse;
    width: 100%;
}
.table__caption {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.table__Row:nth-child(even) {
    background-color:#eee ;
    color: black;
}
.table__Row:hover {
    background-color: #ccc;
    color: black;
}
.table__Cell {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.table__Header {
    background-color: rgb(154, 193, 229);
    color: black;
}